{
  "plugins": [],
  "presets": [
    ["env", { "targets": { "esmodules": true, "node": true } }],
    "stage-0"
  ],
  "env": {
    "production": {
      "only": ["src"],
      "plugins": ["add-module-exports"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
